.containerheight{
    // height: clamp(px,100vh,1000px);
    height: 100vh;
    background-color: rgb(175, 1, 1);
}



//   Grid Setup

.grid-container {
    padding: .65em 0em;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .65em .65em;
    grid-template-areas:
        "coaching industrial"
        "coaching portfolio";
}

.coaching { 
    grid-area: coaching; 
    background-color: rgb(255, 123, 123);
    border-radius: .8em;
}

.industrial { 
    grid-area: industrial;
    background-color: blue;
    border-radius: .8em;
}

.portfolio {
    grid-area: portfolio; 
    background-color: orange;
    border-radius: .8em;
}




//   Flip Card Setup

.scene {
    width: 100%;
    height: 100%;
    perspective: 600px;
    position: relative;
    border-radius: .8em;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    border-radius: .8em;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    // color: white;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
    border-radius: .8em;
}

.card__face--front {
    background: red;
}

.card__face--back {
    background: blue;
    transform: rotateY(180deg);
}




//-----------------------------------

.landing_page{

    .navbar{
        width: 100%;
        height: 50px;
        background-color: rgba(0, 255, 255, 0.282);
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 5;
    }
    
    .front_Side{
        width: 100%;
        height: 100%;
        background-color: rgb(141, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .8em;
    
        .main_box{
            width: 100%;
            height: 25%;
            position: relative;
    
            .box{
                min-width: 50%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,0%);
                background-color: rgba(255, 255, 255, 0.2);
                color: black;
            }
    
            .increasing_box{
                width: 50%;
                transition: .8s ease-in;
            }
    
            .static_box{
                background-color: transparent;
                padding: 1em 1em;
            }
    
    
            &:hover{
                .increasing_box{
                    width: 100%;
                }
            }
    
            
        }
    }

    .small_Container{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .main_box{
            position: relative;
            width: 100%;
            height: 40%;

            .box{
                min-width: 50%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,0%);
                background-color: rgba(255, 255, 255, 0.2);
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
    
            .increasing_box{
                width: 50%;
                transition: .8s ease-in;
            }
    
            .static_box{
                padding: 1em 1em;
                transition: .8s ease-in-out;
                background-color: transparent;
                &.s2{
                    opacity: 0;
                }
            }
    
    
            &:hover{
                .increasing_box{
                    width: 100%;
                }

                .static_box{
                    &.s1{
                        opacity: 0;
                    }
                    &.s2{
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    

}
